__pycache__
build
dist
pyirsdk.egg-info
MANIFEST
*.pyc
*.bin
test_*.py
*.ibt
tutorial_*.py
setup.cfg

# Keep important text files
!requirements.txt
!vars.txt
!README.txt

# Keep important batch files
!START_BROADCAST.bat
